.insert {
  display: flex;
  justify-content: space-between;
  .userInfo {
    display: flex;
    gap: 1rem;
    img {
      height: 5rem;
      width: 5rem;
    }

    h2 {
      padding-top: 1.88rem;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
