.ListItems {
    background: #7C8B95;


    h2 {
        font-size: 30px;
        color: #CDE2B8;
    }

    .todos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
}
