.listItem {
  height: 95%;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  background: inherit;
  box-shadow: 0 4px 8px black;
  margin: 5px;

  &:hover {
    transform: scale(1.01);
  }

  h2 {
    font-size: 15px;
    // color: #CDE2B8;
  }

  .info-container {
    display: flex;
    justify-content: space-around;

    h2,
    p {
      font-size: 15px;
    }
  }

  .actions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
