.form {
    position: relative;
    font-size: 15px;
    background: whitesmoke;
    padding-top: 10vh;


    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            text-align: center;
            background: #C6C6C6;
            width: 20%;
            border: none;
            border-radius: 10px;
            border-style: hidden;
            margin: 5px;
            cursor: pointer;

            &:hover{
                transform: scale(1.05);
            }
        }

        .description {
            height: 25px;
        }
    }
}