.signin-page {
  position: relative;
  height: 65vh;
  top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}
