.container {
    position: absolute;
    top: 0;
    right: 0;
    // will need to update color once closer to deployment.
    background-color: dodgerblue;
    width: 100vw;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

    .title-container {
        width: 60vw;
        position: relative;
        left: 25vw;

        h1 {
            border-bottom: 1px solid black;
        }
    }
}