.listItem {
  width: 75%;
  text-align: center;
  border-radius: 5px;
  background: inherit;
  box-shadow: 0 4px 8px black;
  margin: 5px;

  &:hover {
    transform: scale(1.005);
  }

  .close-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  span {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding-right: 0.75em;
  }

  h2 {
    font-size: 15px;
    // color: #CDE2B8;
  }

  .info-container {
    display: flex;
    justify-content: space-around;

    h2,
    p {
      font-size: 15px;
    }
  }

  .actions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 10em;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1em 3em;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:focus {
      transform: scale(1.01);
    }
  }
}
