.container {
  position: absolute;
  top: 0;
  width: 100%;
  margin-bottom: 0 auto;
  padding-bottom: 5px;
  // will need to update color once closer to deployment.
  background-color: #292929;
  box-shadow: 4px 4px 8px rgba(black, 0.2);
  display: flex;
  justify-content: center;
  z-index: 10;

  .title-container {
    width: 60%;
    color: #CCC;
    text-align: center;
    h1 {
      font-size: 30px;
      margin: 0 auto;
      padding-bottom: 0px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    span {
      font-size: 15px;
    }
  }

  .nav {
    position: absolute;
    top: 5px;
    right: 15px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      h3 {
        font-size: 0.8rem;
        color: #cde2b8;
        letter-spacing: 0.8px;
      }
    }
  }
}
