.header {
  background: seagreen;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  .content {
      padding: 1.5rem;
    h1 {
      margin: 0;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    text-align: center;
    .content {
      padding: 0.5rem;
    }
  }
}
