@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
}