.custom-button-container {
    width: 100%;

    button {padding: 10px 60px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px rgba($color: black, $alpha: 0.2);
    cursor: pointer;
    background: rgba(144, 165, 169, 0.8);
    text-transform: uppercase;
    color: #CDE2B8;
    font-size: 1em;
    letter-spacing: 1px;
    }  
      
    &:hover {
        transform: scale(1.05);
    }
}